* {
  margin: 0;
  padding: 0;
}

body > main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Bebas Neue", sans-serif;
}

dialog {
  min-height: 100vh;
  width: 82vw;
  border: transparent;
}

dialog > .close {
  width: 30px;
  height: 30px;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #d14e3d;
  color: #d14e3d;
  border-radius: 100%;
}

dialog > .modal__controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  width: 70%;
  margin: 30px auto;
}

dialog > .modal__controller > input {
  height: 30px;
  width: 60%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

dialog > .modal__controller > button {
  width: 15%;
  background: transparent;
  border: none;
}

dialog > ul {
  list-style: none;
  width: 60%;
  margin: 0 auto;
}

dialog > ul > li {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid grey;
  min-height: 30px;
  min-width: 180px;
  text-align: center;
  animation: entering 1.5s ease-in;
}

@keyframes entering {
  from {
    transform: translateY(-2000%);
  }

  to {
    transform: translateY(0);
  }
}

dialog > ul > li:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.menu-hamburguer {
  position: absolute;
  top: 60px;
  left: 40px;
  border: 1px solid transparent;
}

.menu-hamburguer:hover {
  cursor: pointer;
  border: 1px solid grey;
}

.outer_cover {
  background-color: #92ae91;
  height: 70vh;
  width: 80vw;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  -webkit-box-shadow: 5px 4px 23px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 5px 4px 23px -3px rgba(0, 0, 0, 0.63);
  box-shadow: 5px 4px 23px -3px rgba(0, 0, 0, 0.63);
}

.outer_cover > .white_line {
  height: 60vh;
  width: 60vw;
  color: white;
  border: 2px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.outer_cover > .white_line > p {
  font-size: 70px;
}
