* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  line-height: 140%;
  --webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80vw;
  margin-top: 40px;

  display: flex;
  flex-direction: column;

  padding-left: 5%;
  gap: 40px;
}

main > .containerRecipe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main > .nameRecipe {
  align-self: center;
  font-size: 25px;
  font-weight: 700;
}

ul,
ol {
  padding-left: 7%;
}

li {
  font-family: "Bitter", serif;
  max-width: 70vw;
  margin-bottom: 10px;
}

li > p {
  max-width: 250px;
}

main > .containerRecipe > .ingredients {
  border-bottom: 1px solid black;
  font-weight: 700;
}

main > .containerRecipe > .methodPreparation {
  font-weight: 700;
  border-bottom: 1px solid black;
}

main > .add {
  display: flex;
  flex-direction: column;
}
main > .add > button {
  text-align: center;
  border: 1px solid grey;
  background-color: white;
  padding: 10px;
  margin: 10px;
  min-width: 90%;
}

main > .add > button:hover {
  transition: 0.6s ease-in-out;
  background-color: grey;
  color: white;
}

dialog {
  margin: auto;
  border: 1px solid transparent;
  background-color: #92ae91;
}

dialog > .modal__container {
  width: 500px;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

dialog > .modal__container > button {
  width: 30px;
  position: absolute;
  right: 0;
  margin: 20px;
  padding: 5px 0px;
  background: rgba(128, 128, 128, 0.416);
  color: white;
  border: none;
  cursor: pointer;
}
